---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<main class="w-[300px] h-[300px] border border-white">
	<div class="messages w-full h-full block">
		<span >testing ...</span>
	</div>
	<div class="message w-full p-1 border flex">
		<input id="message" class="w-full px-2 text-rose-700" type="text" placeholder="message">
		<button id="send" class="px-1">send</button>
		<script>
			import {connect} from "../utils/connect"
			document.getElementById("send")?.addEventListener("click", connect)
		</script>
	</div>
</main>